---
http_interactions:
- request:
    method: get
    uri: https://na.api.pvp.net/api/lol/na/v2.2/match/2035584636?api_key=f9d07c29-f6e9-4a27-966a-cc9748b61da0&includeTimeline=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"matchId":2035584636,"region":"NA","platformId":"NA1","matchMode":"CLASSIC","matchType":"MATCHED_GAME","matchCreation":1449905537172,"matchDuration":1609,"queueType":"RANKED_SOLO_5x5","mapId":11,"season":"PRESEASON2016","matchVersion":"5.24.0.254","participants":[{"teamId":100,"spell1Id":4,"spell2Id":12,"championId":245,"highestAchievedSeasonTier":"GOLD","timeline":{"creepsPerMinDeltas":{"zeroToTen":6.8,"tenToTwenty":6.6},"xpPerMinDeltas":{"zeroToTen":487.70000000000005,"tenToTwenty":562.4},"goldPerMinDeltas":{"zeroToTen":353.2,"tenToTwenty":527.7},"csDiffPerMinDeltas":{"zeroToTen":2.0,"tenToTwenty":0.20000000000000018},"xpDiffPerMinDeltas":{"zeroToTen":82.60000000000002,"tenToTwenty":82.0},"damageTakenPerMinDeltas":{"zeroToTen":388.8,"tenToTwenty":741.9},"damageTakenDiffPerMinDeltas":{"zeroToTen":-92.1,"tenToTwenty":12.099999999999966},"role":"SOLO","lane":"TOP"},"masteries":[{"masteryId":6114,"rank":5},{"masteryId":6121,"rank":1},{"masteryId":6134,"rank":5},{"masteryId":6142,"rank":1},{"masteryId":6312,"rank":5},{"masteryId":6322,"rank":1},{"masteryId":6331,"rank":5},{"masteryId":6343,"rank":1},{"masteryId":6351,"rank":5},{"masteryId":6362,"rank":1}],"stats":{"winner":true,"champLevel":15,"item0":3092,"item1":3285,"item2":1056,"item3":3020,"item4":1057,"item5":3100,"item6":3340,"kills":11,"doubleKills":0,"tripleKills":0,"quadraKills":0,"pentaKills":0,"unrealKills":0,"largestKillingSpree":4,"deaths":5,"assists":3,"totalDamageDealt":140521,"totalDamageDealtToChampions":18081,"totalDamageTaken":19549,"largestCriticalStrike":0,"totalHeal":3792,"minionsKilled":161,"neutralMinionsKilled":9,"neutralMinionsKilledTeamJungle":3,"neutralMinionsKilledEnemyJungle":6,"goldEarned":13706,"goldSpent":11220,"combatPlayerScore":0,"objectivePlayerScore":0,"totalPlayerScore":0,"totalScoreRank":0,"magicDamageDealtToChampions":14834,"physicalDamageDealtToChampions":3142,"trueDamageDealtToChampions":104,"visionWardsBoughtInGame":0,"sightWardsBoughtInGame":0,"magicDamageDealt":106517,"physicalDamageDealt":33900,"trueDamageDealt":104,"magicDamageTaken":8897,"physicalDamageTaken":9791,"trueDamageTaken":860,"firstBloodKill":false,"firstBloodAssist":false,"firstTowerKill":false,"firstTowerAssist":true,"firstInhibitorKill":false,"firstInhibitorAssist":false,"inhibitorKills":0,"towerKills":2,"wardsPlaced":5,"wardsKilled":1,"largestMultiKill":1,"killingSprees":3,"totalUnitsHealed":1,"totalTimeCrowdControlDealt":446},"participantId":1,"runes":[{"runeId":5273,"rank":9},{"runeId":5297,"rank":9},{"runeId":5316,"rank":9},{"runeId":5357,"rank":3}]},{"teamId":100,"spell1Id":14,"spell2Id":11,"championId":35,"highestAchievedSeasonTier":"GOLD","timeline":{"creepsPerMinDeltas":{"zeroToTen":0.4,"tenToTwenty":0.8999999999999999},"xpPerMinDeltas":{"zeroToTen":306.0,"tenToTwenty":519.6},"goldPerMinDeltas":{"zeroToTen":231.9,"tenToTwenty":426.70000000000005},"csDiffPerMinDeltas":{"zeroToTen":0.2,"tenToTwenty":-0.20000000000000012},"xpDiffPerMinDeltas":{"zeroT[...]
