---
http_interactions:
- request:
    method: get
    uri: https://na.api.pvp.net/api/lol/na/v1.4/summoner/by-name/xbanthur?api_key=f9d07c29-f6e9-4a27-966a-cc9748b61da0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"xbanthur":{"id":19143600,"name":"xbanthur","profileIconId":583,"summonerLevel":30,"revisionDate":1450746388000}}'
  recorded_at: Wed, 23 Dec 2015 23:35:06 GMT
recorded_with: VCR 3.0.0
