
<script>

var QueryString = function () {
  // This function is anonymous, is executed immediately and
  // the return value is assigned to QueryString!
  var query_string = {};
  var query = window.location.search.substring(1);
  var vars = query.split("&");
  for (var i=0;i<vars.length;i++) {
    var pair = vars[i].split("=");
        // If first entry with this name
    if (typeof query_string[pair[0]] === "undefined") {
      query_string[pair[0]] = decodeURIComponent(pair[1]);
        // If second entry with this name
    } else if (typeof query_string[pair[0]] === "string") {
      var arr = [ query_string[pair[0]],decodeURIComponent(pair[1]) ];
      query_string[pair[0]] = arr;
        // If third or later entry with this name
    } else {
      query_string[pair[0]].push(decodeURIComponent(pair[1]));
    }
  }
    return query_string;
}();


var global_i = 1;
var global_limit = -1;
var global_match_list;

function startLoading(responseText) {
  global_limit = responseText.length;
  //global_limit = 20;
  console.log("Found " + global_limit + " matches");
  global_match_list = responseText;
  console.log("Querying match " + global_match_list[0]);
  $.get("gather/match_details.json?match=" + global_match_list[0], "", loadMatch);
}

function loadMatch(responseText) {
  console.log(responseText);
  var was_cached = (responseText.riot_match_id != null);
  console.log("Result was cached: " + was_cached);

  $(".list-group").append("<li class=\"list-group-item\">Loaded details of size: " + JSON.stringify(responseText).length + "</li>");

  if ( global_i < global_limit ) {
    var match = global_match_list[global_i];

    if (was_cached) {
      $.get("gather/match_details?match=" + match,"",loadMatch);
    }
    else {
      setTimeout(function() {console.log("Querying match " + match); $.get("gather/match_details.json?match=" + match,"",loadMatch);}, 10500);
    }
    global_i += 1;
  }
}

$("document").ready( function () {
  $.get("gather/match_list?name="+QueryString.name,"",startLoading);
});

</script>

<%= @workdone %>
<ul class="list-group">
  <li class="list-group-item">Item</li>
</ul>
