<div class="jumbotron">
  <div class="container">
    <h2>RM//maps</h2>
  </div>
</div>


<div class="container">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li>
          <form class="navbar-form" action="" method="get" target="_blank" id="submission_form" onsubmit="on_search_click()">
            <input type="text" name="name" value="" id="name_submission_text" onsubmit="on_search_click()">
            <input type="button" onclick="on_search_click()" value="Search">
          </form>
        </li>
       </ul>
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</nav>

  <div class="row">
    <div class="col-xs-2 sidebar">
      <section ui-view="controls"></section>
    </div>
    <div style="height: 355px;overflow-y: scroll;">
        <section ui-view="graph"></section>
    </div>
  </div>
</div>
