<div class="jumbotron">
  <div class="container">
    <h2>RM//maps</h2>
  </div>
</div>

<div class="container">

  <section ui-view="controls"></section>
  
  <div class="row">
    <div style="height: 355px;overflow-y: scroll;">
        <section ui-view="graph"></section>
    </div>
  </div>
</div>
