
<script>
i = 0;

function start_collection() {
  console.log("collect " + match_list[i]);
  $.get("/gather/match_details.json?match=" + match_list[i],
  function(d1) {
    i = i + 1;
    console.log(d1);
    $(".matches_gathered").append("<div>Gathered " + d1.riot_match_id + "</div>");
    setTimeout(start_collection, 10000);
  });
}

function gather_search() {
  event.preventDefault();
  match_list = [];
  fn_array = [];

  sum_name = $("#gather_name").val();
  console.log("gather search for " + sum_name);
  $.get("/gather/match_id_list.json?name=" + sum_name,
    function(d1,d2) {
      match_list = d1;
      console.log(match_list);
      setTimeout(start_collection, 2000);
  });
}


</script>

<form class="navbar-form" action="" method="get" target="_blank" id="submission_form" onsubmit="gather_search()">
  <input type="text" name="name" value="" id="gather_name" onsubmit="gather_search()">
  <input type="button" onclick="gather_search()" value="Search">
</form>

<div class="matches_gathered">
</div>
