
<ng-if="list_ctrl.error_state == false">
<div ng-repeat="(index, matchid) in list_ctrl.matches" class="col-xs-3">
  <a href="/heatmaps/details/{{list_ctrl.controlsData.summonerName}}/{{matchid}}/{{list_ctrl.controlsData.show_kills}}/{{list_ctrl.controlsData.show_deaths}}">

    <div ng-controller="MapCtrl as mapc" class="panel panel-default">

      <div class="panel-heading">
        <h3 class="panel-title">
          {{mapc.vm.performances[matchid].winner?"Victory":"Defeat"}}

        </h3>
        <i>{{mapc.convert_riot_time(mapc.vm.details[matchid].match_creation)}}</i>
      </div>

      <div class="panel-body" id="card_body_{{matchid}}">
        <div>
          <div map-in-list></div>
        </div>
      </div>
    </div>
  </a>
</div>
</ng-if>
<ng-if="list_ctrl.error_state">
<h3>{{list_ctrl.error_message}}</h3>
</ng-if>
